<script id="users_list_item_template" type="text/html">
  <li id="user_{{id}}">
    <address>
      <strong>{{first_name}} {{last_name}}</strong><span class="label">{{status}}</span>
      <br />
      {{street}}
      <br />
      {{city}}, {{state}} {{zip_code}}
    </address>
  </li>
</script>
