<script id="pagination_template" type="text/html">
  {{#isEmpty}}
    {{{emptyListMessage}}}
  {{/isEmpty}}
  {{^isEmpty}}
  <div class="pagination">
    <ul>
      <li class="{{^previousPage}}disabled{{/previousPage}}">
        <a href='{{urlPrefix}}?page={{previousPage}}' data-page='{{previousPage}}'>← Previous</a>
      </li>

      {{#pages}}
        <li class="{{#currentPage}}active disabled{{/currentPage}}">
          <a href='{{urlPrefix}}?page={{page}}' data-page='{{page}}'>{{page}}</a>
        </li>
      {{/pages}}

      <li class="{{^nextPage}}disabled{{/nextPage}}">
        <a href='{{urlPrefix}}?page={{nextPage}}' data-page='{{nextPage}}'>Next →</a>
      </li>
    </ul>
  </div>
  {{/isEmpty}}
</script>
