// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.updating
  opacity: 0.4
.left
  float: left
.right
  float: right
.clear
  clear: both

.page-header
  border-bottom: 1px solid #EEEEEE
  margin: 18px 0
  padding-bottom: 17px

.label
  margin-left: 5px

form#filters legend
  margin-bottom: 0px

#sidebar .well
  width: 135px
  form
    margin: 0
    .control-group
      margin-top: 0
      margin-bottom: 0

#main
  margin-top: 40px
