// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left
  float: left
.right
  float: right
.clear
  clear: both
ul#users
  li
    padding: 0.5em 0
    list-style-type: none
div#filters
  ul
    li
      list-style-type: none
